@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand&family=Source+Code+Pro:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

body {
    margin: 0;
}

section.header {
    display: flex;
    font-family: 'Quicksand';
    margin-left: 50px;
    margin-right: 50px;
    justify-content: space-between;
}

nav {
    margin: 15px;
    display: flex;
    align-items: center;
    list-style: none;
}

li {
    padding: 10px;
}

.title {
    font-size: max(2.5vw, 30px);
}

a {
    text-decoration: none;
    color: black;
}

.landing-page {
    font-family: 'Source Code Pro';
    font-size: 50px;
    margin-left: 8%;
    margin-right: 8%;
}


p.presentation {
    font-family: 'PT Sans Narrow';
    font-size: 20px;
}

a:hover {
    color: gray;
}

.box {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    margin-top: 0px;
    margin-bottom: 3em;
}


.box img {
    box-shadow: 1.5px 0px min(5px, 1vw) black;
    height: 100%;
}

.box img:hover{
    transition: all 500ms ease; 
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);

}

section.header2 {
    display: flex;
    font-family: 'Quicksand';
    margin-left: 50px;
    margin-right: 50px;
    justify-content: space-between;
    margin-bottom: 190px;
}

a.logo {
    height: 60vw;
    max-height: 360px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.anim-typewriter {
    animation: typewriter 3s steps(40) 1s 1 normal both,
    blinkTextCursor 500ms steps(40) infinite normal;
}

.citation {
    font-size: 100%;
    border-right: 2px solid rgba(0, 0, 0, 0.75);
    width: 38vw;
    margin-top: 18%;
    margin-bottom: 300px;
    white-space: nowrap;
    overflow: hidden;transform: translateY(-50%);
}

@keyframes typewriter {
    from {
        width: 0;
    }
    to {
        width: 38vw;
    }
}

@keyframes blnkTextCursor {
    from {
        border-right-color: rgba(0, 0, 0, 0.75);
    }
    to {
        border-right-color: transparent;
    }
}


.soft {
    width: 100%;
    align-items: center;
    margin: 0px;
}

p.titre-soft {
    text-align: center;
    color: black;
}

p.titre {
    font-family: 'Rubik';
}

p.paragraphe {
    font-family: 'Rubik';
    font-size: 1.5rem;
    font-weight: 1;
    margin: 0;
}

div.list-soft {
    margin-right: 10%;
    margin-left: 7%;
}

a.href {
    margin: 0px;
    height: 100%;
}

div.bonsoir {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

button.btn-soft {
    margin: 0px 0px 0px 100px;
    font-family: 'Rubik';
    font-size: 1rem;
    height: 85px;
    width: 300px;
    padding: 0px;
    box-shadow: 0px 0px 3px black;
}

a.lien-api {
    text-decoration: underline;
}

a.lien-api:hover {
    color: blue;
}

p.contact-me {
    font-size: 40px;
    font-family: 'Rubik';
}